.TekContent {
    background-color: #345064;
    // height: 100vh;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.ColumnContent {
    width: 45%;
}

.TekAlignSceneComponent {
    background-color: black;
    padding: 10px;
}

.TekAlignSceneComponentTitle {
    color: white;
}